<div class="jumbotron">
    <h1 class="display-3">Portal for Mark System</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis perferendis esse soluta, in assumenda exercitationem, qui tempore fugiat, officia autem magnam consequatur ut architecto praesentium.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/student" role="button">Student Portal</a>
      <a class="btn btn-primary btn-lg" href="/staff" role="button">Staffs Portal</a>
    </p>
  </div>