<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1><i class="fa fa-graduation-cap fa-3x"></i></h1>
        <h1>Student Portal</h1>
        <a href="student/login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
  </div>
  